<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Sweet Loans.</h2>
    <h3>Get loans quickly in no time</h3>
    <a href="/dashboard" class="btn">Link Account!</a>
  </div>
</header>


<%- include('partials/footer'); -%>